{% extends 'base.twig' %}

{% block title %}404{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-3">	
			{{ include('banner_1.twig') }}	
		</div>

		<div class="col-lg-6 text-center">
			<h1 class="text-uppercase">Ошибка 404</h1>
			<a class="btn btn-primary" href="{{ url_base }}" role="button">Вернуться на главную страницу</a>
		</div>

		<div class="col-lg-3">
			{{ include('banner_2.twig') }}			
		</div>
	</div>
{% endblock %}